@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    border:1px solid red
} */




/* button {
    font-family: "Poppins", sans-serif;
} */

.text-glow {
  text-shadow:
    0 0 10px rgba(255,255,255,0.4),
    0 0 20px rgba(255,255,255,0.3),
    0 4px 10px rgb(0, 0, 0);
}


#hero-slider::after {
  content: "";

  position: absolute;
  inset: 0;

  background:
    linear-gradient(to bottom,transparent 30%,var(--warna));

  z-index: 10;

  pointer-events: none;
}


.flipbook-scroll {
  overflow-x: scroll;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
}

.buku {
  position: fixed;

  top: 50%;
  left: calc(50% + 100px);

  width: 90%;
  max-width: 180px;
  height: 55%;

  aspect-ratio: 2 / 3;

  transform: translate(-50%, -50%);

  perspective: 2000px;

  transform-style: preserve-3d;
  pointer-events: none;

}

.buku__Kertas {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  transform-origin: left center;

  transform-style: preserve-3d;

  transition: transform 0.1s linear;
}

.Kertas__half {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  overflow: hidden;
  backface-visibility: hidden;
  border: 1px solid black;
  
}

.Kertas__half--front {
  background:
    radial-gradient(
      circle at top,
      rgba(255,255,255,0.7),
      transparent 60%
    ),
}

.Kertas__half--back {
  
  transform: rotateY(180deg);
}

.Cover-wrapper {
  position: relative;
  overflow: hidden;
}

.Cover-wrapper::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 70%;

  background: linear-gradient(
    to top,
    var(--bg1) 45%,
    transparent 95%
  );

  z-index: 1;
}

.count-box {
  min-width: 40px;
  min-height: 40px;

  border-radius: 12px;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding-bottom: 0.5rem;

  border: 1px solid var(--bg2);
}

