@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --button : #3D988B;
    --chat : #fbe3e3;
    --chat-transparent : #fbe3e3;
    --warna : #6fcee8;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}


#join{
    background: var(--warna);
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.join .card-overview {
    width: 50vw;

    position: relative;
    top: 10vh;
    font-family: Poppins;
}

.join .card-overview img {
  width: 70%;
  margin-left: 50%;
  transform: translate(-50%);
}


.card-overview h2 {
    margin-top: 1rem;
    font-size: 3rem;
}

.card-overview p {
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem 0;
}

.join .avatar-group sl-avatar {
  --size: 4.5rem; /* kecil */
  
}

.join small {
  font-size: 1.5rem;
  margin-left: 70%;

}


.join .btn {
  display: inline-block;
  padding: 12px 24px;
  width: 100%;
  margin-top: 5%;
  background: var(--button);
  color: #fff !important;
  border: none; 
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
  
}

.btn:hover {
  color:  var(--button) !important;
  background: white;
}

#header {
    
    position: fixed; 
    width: 100%;
    z-index: 999;
    caret-color: transparent;
    flex: 1;
    flex-shrink: 0;
}

.WrapHeader {
    width: 100%;
    top: 0;
    background-color: var(--warna);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
}



.WrapHeader a, 
.audio-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}

#header img {
    width: 10vw ; 
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
    border: 3px solid var(--button);
    
}

.WrapHeader a {
    width: 10vw;
    margin-left: 1rem;
    border-radius: 50%;
    animation: bounceAnime 2s infinite;
}


.header-info {
    width: 60%;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
}





.audio-icon-wrapper {
    font-size: 9vw;
    cursor: pointer;
    line-height: 0;
    margin-top: 7%;
    margin-right: 1rem;
    animation: rotating 4s linear infinite;
    color: #ffffff;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
    user-select: none;
    border-radius: 50%;
}





#Home {
    position: absolute;
    top: 10.7vh;     
    bottom: 9.2vh;  /* tinggi TulisPesan */
    left: 0;
    right: 0;
    overflow-y: auto;
    padding: 1rem;
    }


.background img {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.lead{
    position: absolute;
    background-color: var(--warna);
    color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    width: fit-content;
    padding: 10px 10px;
    font-size: 10px;
    left: 50%;
    top: 10%;
    margin-bottom: 10%;
    transform: translate(-50%);
    border: 1px solid var(--button);
}


.chat {
    padding: 1.4rem 0;
    margin-top: 25%;
    position: relative;
    

}

.nama {
    font-weight: bold; 
    font-size: 3rem !important;
    text-align: center;
    color: #0f0e0e;
    text-shadow: 0 0.5  #0f0e0e;
    animation: colorChange 3s infinite;
}

.tanggal {
    font-weight: bold; 
    font-size: 2rem !important;
}

.chat li {
    position: relative;
    margin-bottom: 0.5rem;
    list-style: none;
}

.chat li::before,
.chat li::after {
    content: '';
    display: table;
}

.chat li::after {
    clear: both;
}

.chat li .chat-image {
    width: 8vw;
    height: 8vw;
    position: absolute;
    left: 7%;
    border-radius: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    margin-top: 0.5%;
    border: 2px solid var(--chat);
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    
}

.chat li .balon-chat {
    max-width: 60%;
    display: inline-block;
    background-color: var(--chat);
    padding: 0.7rem;
    border-radius: 10px;
    position: relative;
    margin-left: 15%; 
    margin-top: 0.5%;    
    text-align: left;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));

    word-break: break-word;
}
.chat li .balon-chat-transparant {
    max-width: 60%;
    display: inline-block;
    background-color: transparent;
    padding: 0.7rem;
    border-radius: 10px;
    position: relative;
    margin-left: 11%; 
    margin-top: 0.5%;    
}


.chat h3{
    font-size: 1.5rem;
    font-family: Sour Gummy;
    color: blueviolet;
    background-color: var(--chat);
    border-radius: 10px;
    padding: 2px;
}
.chat p {
    margin: 1px;
    font-size: 1rem;
    white-space: normal;      
    word-wrap: break-word;    
    overflow-wrap: break-word; 
    font-family: Sour Gummy;  

}



.waktu {
    right : 3%;
    position: absolute;
    bottom: 0;
    font-size:1rem;
    color: #0f0e0e;
    padding: 3px;
    border-radius: 10px;
    background-color: var(--chat);
}

.simply-countdown-circle {
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-bottom: 5%;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom */
  gap: 6px;
  justify-content: center;
  margin-bottom: 5%;
}

.gallery-grid img {
  width: 100%;
  height: 250px;       
  object-fit: cover;
  border-radius: 8px;
}
.gallery-grid video {
  width: 140%;
  height: auto;     
  object-fit: cover;
  margin: 0;
}


.gallery-overlay {
  position: relative;
  display: block;
}

.gallery-overlay::after {
  content: attr(data-more);
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  opacity: 0;                
  transition: opacity 0.2s;
}

.gallery-overlay[data-more]::after {
  opacity: 1;                
}



#TulisPesan {
    position: fixed;
    background-color: var(--warna);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;        
    box-sizing: border-box;

}


.saveTheDate {
    position: absolute;
    padding: 1rem;
    background:var(--button);
    color: white;
    border-radius: 10px; 
    border: 1px solid rgb(129, 127, 127);
    width: 70%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5%;

}

.saveTheDate:hover {
    background: white;
    color: var(--button);
    
}

#LogoBNI,
#LogoBCA {
  width: 50%;
}

.transparent-card::part(base) {
  background-color: transparent;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

.card-header [slot="header"] img {
    margin-left: 20%;
    margin-bottom: 0;
    display: block; 
}


.card-header button {
  font-size: 1rem;
  padding: 1rem ;
  background-color: var(--button);
  color: white;
  border-radius: 10px;

}



.WarpTulisPesan {
    /* align-items: flex-end; */
    gap: 8px;
    bottom: 0;
    display: flex;
}



.input-nama {
  flex: 0 0 20%;
  border-radius: 20px;
  padding: 15px 12px 12px 12px;
  font-size: 1rem;
  line-height: 1;
  resize: none;      
  overflow-y: hidden; 
  min-height: 30px;   
  max-height: 120px;   
 
}

.wrapperInputPesan{
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex; 
}


.input-pesan {
  flex: 1;  
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 1;
  resize: none;
  overflow-y: hidden;
  display: block;
  box-sizing: border-box;
  padding: 15px 12px 12px 12px;
  justify-content: center;
}



textarea:focus {
    outline: 3px solid var(--button);
}



.kirim-button{
    flex: 0 0 auto;
    background-color: var(--button);
    width: 15%;
    border-radius: 0.8rem;
    padding: 15px 12px;
    color: white !important;
    border: 2px solid white !important;
    text-align: center;
}

.kirim-button:hover {
    background-color: white;
    color: var(--button) ;
    
}

#stickerButton {
    position: absolute;
    color: #ccc;
    font-size: 250% ;
    right: 0;
    padding: 2%;
    margin: 2%;
    cursor: pointer;
    transition: 0.2s;
}

#stickerButton:hover {
  color: #25D366; /* warna WhatsApp hijau */
}

/* Popup sticker list */
.sticker-list {
  position: absolute;
  bottom: 60px; /* muncul di atas textarea */
  right: 20px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  display: none;
  flex-wrap: wrap;
  gap: 6px;
  width: 90%;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 100;
}

.sticker-list img {
  width: 40%;

  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}

.stiker-chat {
  width: 120px;      /* ubah sesuai selera: 60px, 80px, dll */
  height: auto;     /* biar proporsional */
  border-radius: 10px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sticker-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.sticker-overlay.show {
  display: flex;
  opacity: 1;
}

.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}




.chat li {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.chat li.active, 
li.pesan-dari-server {
  opacity: 1;
 
}



@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounceAnime {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); 
  }
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes colorChange {
    0% { color: #ff0000; }
    25% { color: #00ff00; }
    50% { color: #0000ff; }
    75% { color: #ff00ff; }
    100% { color: #ff0000; }
}

@media screen and (max-width:468px) {

  .join .card-overview {
    width: 70vw;
    top: 10vh;
}

.chat li .balon-chat-transparant {
    margin-left: 20%; 
    
}


}


/* phone */
@media screen and (max-width:768px) {

html{
    font-size: 55%;
}


#Home {
    bottom: 6vh;
    top: 7vh;
} 

.lead {
    padding: 4px 5px;
}
.chat li .chat-image {
    left: 10%;
    margin-top: 1%;
}
.chat li .balon-chat {
    max-width: 50%;
    min-width: 20%;
    margin-left: 20%; 
    font-size: large!important;
    margin-bottom: 1%;
}
.chat li .balon-chat-transparant {
    margin-left: 20%; 
 
}
.chat p {
    font-size: 1.4rem;
    margin: 0;
}
.chat h3{
    font-size: 1.5rem;
    margin-top: 0;
}
.tanggal {
    font-size: 1.7rem !important;
}

.simply-countdown-circle {
    padding: 0.5rem;
    gap: 0rem !important;
    flex: 0 0 auto;
}
.simply-countdown-circle .simply-amount
 {
    font-size: 2rem !important; 
}
.simply-countdown-circle .simply-seconds-section {
  display: none !important;
}
.simply-countdown-circle > .simply-section {
    width: 50px !important;
    height: 50px !important;
}
.waktu {

    margin-left: 30%;
    bottom: 2%;
}
.map {
    font-size: 80%;
}

.gallery-grid img {
  height: 150px;       

}

.gallery-overlay::after {
    height: 150px;
}




.input-nama {
  width: 20%;
  height: 60%;
  border-radius: 1rem;
  border: none;
  padding-right: 0;
  font-size: 1rem;
}
.input-pesan {
  width: 50%;
  border-radius: 1rem;
  height: 60%;
  border: none;
}
.kirim-button{
    width: 15%;
    height: 60%;
    border-radius: 1rem;
    border: none;
    color: black;
}

}
/* tablet  */
@media screen and  (min-width: 768px) and (max-width: 1023px) {
html{
    font-size: 85%;
}

.join .card-overview {
    width: 23%;
    font-size: smaller;
}




.join .card-overview h2 {
    font-size: 1.5rem;
    margin: 0;
 
}

.join p {
    font-size: 1rem;

}

.join .avatar-group sl-avatar {
  --size: 3rem; /* kecil */
}


/* .audio-icon-wrapper{
    font-size: 5rem;
} */



#Home {
     
    bottom: 5.5vh;
    background-size: cover;
} 

.chat li .chat-image {

    margin-top: 1%;
}

.chat li .balon-chat {

    margin-left: 14%; 
    margin-top: 1% ;
}

.input-nama {
  padding: 6px 12px;
  padding-top: 15px;  
}
.input-pesan {
  padding: 6px 12px;
  padding-top: 13px;

}


} 
/* laptop */
@media screen and  (min-width: 1024px) {
html{
    font-size: 100%;
    
}




.join .card-overview {
    width: 23%;
    position: relative;
    top: 10%;
    
}

#join img {
    width: 70%;
    margin-bottom: 0;
}


.join .card-overview h2 {
    font-size: 2rem;
    margin: 0;
 
}

.join p {
    font-size: 1rem;

}

.join .avatar-group sl-avatar {
  --size: 3rem; /* kecil */
}

.join small {
    font-size: 1rem;
}


.join .btn {
  display: inline-block;
  padding: 12px 24px;
  width: 100%;
  background: var(--button);
  color: #fff !important;
  border: none; 
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  color:  var(--button) !important;
  background: white;
}

#stickerButton {
    margin: 1%;
    padding: 0;
}

.stiker-chat {
  width: 300px; 
}

.sticker-list img {
  width: 10%;

  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}



.chat li .balon-chat {
  width: fit-content !important;
  max-width: 40% !important;
}

/* .chat li .balon-chat sl-card {
  width: auto !important;
  display: inline-block !important;
  vertical-align: top;
} */


}

